* {
    border: 0.5px solid red;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

}

img {
    height: 100%;
}

@media only screen and (max-width: 768px) {
    img {
        height: auto;
        width: 100%;
    }
}

