* {
    /* border: 0.01px solid red; */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    box-sizing: border-box;

    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
}

h1 {
    font-weight: 700;
    font-size: clamp(2rem, 5vw + 1rem, 3.5rem);
  line-height: 1.2;

}

h2 {
    font-weight: 600;
    font-size: clamp(1.5rem, 3vw + 1rem, 2.5rem);
  line-height: 1.3;

}

h3 {
  font-weight: 600;
  font-size: clamp(1.25rem, 2vw + 1rem, 2rem);
  line-height: 1.4;
}

h4 {
  font-weight: 600;
  font-size: clamp(1.1rem, 1.5vw + 1rem, 1.5rem);
  line-height: 1.4;
}

h5 {
  font-weight: 600;
  font-size: clamp(1rem, 1vw + 1rem, 1.25rem);
  line-height: 1.5;
}

h6 {
  font-weight: 600;
  font-size: clamp(0.875rem, 0.5vw + 1rem, 1.1rem);
  line-height: 1.5;
  text-transform: uppercase; /* Optional: helps h6 stand out from p */
  letter-spacing: 0.05rem;
}

p {
    font-weight: 600;
    font-size: clamp(1rem, 0.5vw + 1rem, 1.25rem);
  line-height: 1.6;
}

a, .text-small {
  font-weight: 400;
  font-size: clamp(0.75rem, 0.2vw + 0.8rem, 0.875rem);
  line-height: 1.6;
}



body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    height: fit-content;
}

img {
    height: 100%;
}

@media only screen and (max-width: 768px) {
    img {
        height: auto;
        width: 100%;
    }
}

